@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*, *::before, *::after {
    padding: 0;
    margin: 0;
}

body {
    font-family: Poppins;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59)
}

.back {
    position: absolute;
    color: white;
    background: none;
    display: flex;
    top: 0;
    left: 0;
    animation: go-back-left 1.5ss;
    z-index: 1;
}

.back-text {
    background: #a6170d;
    border-left: 0;
    border-radius: 0 5px 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-text svg {
    color: white;
    padding: 20px;
    height: 25px;
    transition: all 1s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.back-text:hover svg {
    transform: scale(1.2);
    stroke-width: 2;
}

.dummy {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info {
    display: grid;
    gap: 10px;
    /* justify-content: center;
    align-items: center;
    flex-direction: column; */
}

.upper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.info p {
    color: white;
    font-size: 20px;
}

.info input {
    outline: 0;
    border: 2px solid rgb(70, 70, 70);
    text-align: center;
    font-size: 20px;
    height: 35px;
    width: 70px;
    border-radius: 10px;
}

.btn {
    background: rgb(0, 183, 255);
    border: 2px solid rgb(0, 119, 166);
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    margin: 20px;
    border-radius: 10px;
    transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.container {
    border: 2px solid rgb(70, 70, 70);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.container input {
    height: 100px;
    width: 100px;
    outline: none;
    border: 2px solid rgb(155, 155, 155);
    pointer-events: none;
    text-align: center;
    font-size: 25px;
}

.hide {
    display: none;
}

@media all and (max-width: 768px) {
    body{
        grid-template-columns: 100%;
    }

    .dummy {
        transform: scale(0.6);
    }
}