@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    font-family: Poppins;
}

:root {
    --hue-neutral: linear-gradient(to right, #ff00cc, #333399);
    --hue-correct: linear-gradient(to right, #00F260, #0575E6);
    --hue-wrong: linear-gradient(to right, #ED213A, #93291E);
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: var(--hue-neutral);
}

body.correct {
    background-image: var(--hue-correct);
}

body.wrong {
    background-image: var(--hue-wrong);
}

.back {
    position: absolute;
    color: white;
    float: left;
    background: none;
    height: 100%;
    display: flex;
}

.back-text {
    background: #de6161;
    border: 2px solid white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    animation: go-back-top 2s;
}

.back-text svg {
    color: white;
    height: 30px;
    transition: all 1s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.back-text:hover svg {
    transform: scale(1.2);
    stroke-width: 2;
}

.container {
    width: 800px;
    max-width: 80%;
    background: white;
    border-radius: 5px;
    padding: 30px;
    -webkit-box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.63); 
    box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.63);
    z-index: 1;
}

.container.animate {
    animation: first 2s;
}

#question {
    font-size: 25px;
    font-weight: 600;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
    margin: 20px 0;
}

.btn {
    background-image: radial-gradient(#00B4DB, #0083B0);
    border: 2px solid #005c7a;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btn.animate-btn:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0px 0px 5px 3px #0083B0;
}

.btn.correct {
    background-image: linear-gradient(to right, #11998e, #0f9b0f);
}

.btn.wrong {
    background-image: linear-gradient(to right, #f85032, #e73827);
}

.score-text {
    text-align: center;
    font-size: 40px;
    background-image: linear-gradient(to right, #C04848, #480048);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.start-btn, .next-btn, .score-btn {
    font-size: 24px;
    font-weight: bold;
    padding: 10px 20px;
    animation: fade 2s;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

@keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes slide-right {
    0% {transform: translateX(-10%);opacity: 0;}
    100% {transform: translateX(0%);opacity: 1;}
}

@keyframes first {
    0% {opacity: 0; transform: scale(1.7);}
    100% {opacity: 1; transform: scale(1);}
}

@keyframes go-back-top {
    0% {transform: translateY(-100%);opacity: 0}
    100% {transform: translateY(0%);opacity: 1;}
}

@media all and (max-width: 768px) {
    .btn-grid {
        grid-template-columns: 1fr;
    }
}